@using FinancialApp.Data
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject AuthService auth;
@inject UserRepository UserRepo;
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code{
    protected override void OnInitialized(){
        var currentPath = new Uri(NavigationManager.Uri).AbsolutePath;

        if (currentPath != "/login" && !auth.Authorized)
        {
            NavigationManager.NavigateTo("/login", forceLoad: true);
        }
    }
}
